.chat-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @media (max-width: 768px) {
        height: 100vh;
        padding: 10px;
    }

    .messages-container {
        flex: 1;
        overflow-y: scroll;
        scroll-behavior: smooth;
        margin-bottom: 10px;

        .message {
            max-width: 70%;
            padding: 8px 12px;
            border-radius: 8px;
            margin: 5px 0;
            background-color: rgba(128, 128, 128, 0.5);
            box-sizing: border-box;
            word-wrap: break-word;
        
            @media (max-width: 768px) {
                max-width: 90%;
                padding: 6px 10px;
                margin: 3px 0;
            }
        }
    }

    .input-container {
        display: flex;
        width: 100%;
        align-items: center;

        input[type='text'] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 10px;
            font-size: 1rem;

            &:focus {
                outline: none;
                border-color: #007bff;
            }

            @media (max-width: 768px) {
                padding: 6px;
                font-size: 0.875rem;
                margin-top: 5px;
            }
        }
    }
}

.received {
    display: flex;
    justify-content: start;
}

.sent {
    display: flex;
    justify-content: end;
}
