.tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    min-height: 700px;
    max-height: 2000vw;
    display: flex;
    flex-direction: column;
}

.tab {
    transition: opacity 0.2s ease-in;
}

.tab-content h2 {
    text-align: center;
}