@import './style/colors.scss';

html {
  min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Prompt, sans-serif;
    height: 100%;
}
  
@font-face {
  font-family: Prompt;
  src: url('fonts/Prompt-Regular.ttf') format('truetype');
}

#root {
  height: 100%;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;

  a {
    color: white;
    text-decoration: underline;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }
}
